{%load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block tittle %}{%endblock tittle %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

   

    
  </head>
<body>
  <div id="bienvenido-izquierda" style="float: left;">Bienvenido</div>
  <div id="bienvenido-derecha" style="float: right;">Bienvenido</div>

  
  <div class="container">
    <div class="row">
      <div class="col">

        <nav class="navbar navbar-expand-lg" style="background-color: darkorange;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">MENU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}" style="color: white;">INICIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:about' %}" style="color: white;">About</a>
                </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:contacto' %}" style="color: white;">contacto</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" style="color: rgb(255, 119, 0);">Materiales</a></li>
                    <li><a class="dropdown-item" href="#" style="color: rgb(255, 119, 0);">Herramientas</a></li>
                    <li><a class="dropdown-item" href="#" style="color: rgb(255, 98, 0);">Dinero</a></li>
                </ul>
            </li>
            
            </li>
            
              </ul>
            </div>
          </div>
        </nav>
        
        
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
      <div>
      {% comment %} <div class="col -18"> {% endcomment %}
        {%block content %}

        {%endblock content %}

        <br>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tu Página de Materiales de Construcción</title>
        <style>
            /* Estilos para la barra de menú */
            .menu {
                background-color: white; /* Fondo blanco */
                padding: 10px;
            }
    
            .menu ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
            }
    
            .menu li {
                margin: 0 15px;
            }
    
            .menu a {
                text-decoration: none;
                color: #333; /* Color de texto gris oscuro */
                font-weight: bold;
            }
    
            .menu a:hover {
                color: #007bff; /* Color de texto azul al pasar el mouse */
            }
        </style>
    </head>
    <body>
        <div class="menu">
            <ul>
                
                <li><a href="#">Materiales</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Ofertas</a></li>
                
            </ul>
        </div>
        <br>
      </div>



    </div>
    
    </div>


  </div>

        <!-- Remove the container if you want to extend the Footer to full width. -->
{% comment %} <div class="container my-5"> {% endcomment %}
<div class="my-18 "> 
  <footer class="bg-dark text-center text-lg-start text-white ">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CONTACTO</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Bestsellers</a>
              <img src="" alt="">

            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>All books</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Our authors</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">REDES SOCIALES</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/tu_pagina" class="text-white">
                <i class="fab fa-facebook fa-fw fa-sm me-2"></i>Facebook
              </a>
            </li>
            <li>
              <a href="https://twitter.com/tu_pagina" class="text-white">
                <i class="fab fa-twitter fa-fw fa-sm me-2"></i>Twitter
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/tu_pagina" class="text-white">
                <i class="fab fa-instagram fa-fw fa-sm me-2"></i>Instagram
              </a>
            </li>
          </ul>
        </div>
        

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Publishing house</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">The BookStore</a>
            </li>
            <li>
              <a href="#!" class="text-white">123 Street</a>
            </li>
            <li>
              <a href="#!" class="text-white">05765 NY</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Send us a book</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Write to us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Help in purchasing</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Check the order status</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Join the newsletter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(238, 102, 18)">
      © 2021 Copyright:
      <a class="text-white" href="{% static 'css/bootstrap.min.css' %}">ELCONSTRUTOR.COM</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
{% comment %} </div> {% endcomment %}
<!-- End of .container -->

<script src="{% static 'js/boostrap/min.css' %}"></script>
      



      
</body>
</html>

<!-- Con los {%load static %} que estan en el archivo los paso pa todos, es herencia -->