{% extends "base/base.html" %}

{% block title %}
  Anadir City
{% endblock title %}

{% block content %}
<h1>Agregar Ciudad</h1>
<form method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-outline-success">Agregar Ciudad</button>
  <a href="{% url 'core:listLugar' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}