{% extends "base/base.html" %}

{% block title %}
  Anadir Tipo de material
{% endblock title %}

{% block content %}
<form action="" method="post" class="form">
  {% csrf_token %}
  {{ form.nombre.label_tag }}
  {{ form.nombre }}
  {{ form.descripcion.label_tag }}
  {{ form.descripcion }}
  <button type="submit" class="btn btn-outline-success">Agregar Tipo</button>
  <a href="{% url 'core:list_tipos' %}" class="btn btn-outline-warning">Cancelar</a>
</form>

{% endblock content %}
