{% extends "base/base.html" %}

{% block title %}
  Eliminar Lugar
{% endblock title %}

{% block content %}
<h1>Eliminar Lugar</h1>
<p>¿Estás seguro de que quieres eliminar el lugar "{{ Lugar.colonia }}"?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Sí, eliminar</button>
  <a href="{% url 'core:listLugar' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}
