{% extends "base/base.html" %}

{% block title %}
  DETAIL CLIENTE VIEW
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ object.nombre }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Nombre del Cliente: {{ object.nombre }}</strong> <br>
          Teléfono: {{ object.telefono }} <br>
          Correo Electrónico: {{ object.correo }}
        </div>
      </div>
    </div>
</div>

<a href="{% url 'core:List_Clientes' %}">Volver a la lista de clientes</a>
{% endblock content %}
