{% extends "base/base.html" %}

{% block title %}
  DETAIL TIPO
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ object.nombre }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Descripción del tipo: {{ object.descripcion }}</strong>
        </div>
      </div>
    </div>
  </div>
  
  <a href="{% url 'core:list_tipos' %}">Volver a la lista</a>
{% endblock content %}
