{% extends 'base/base.html' %}
{% block title %} LIST Clients {% endblock title %}

{% block content %}
    <a href="{% url 'core:createCliente' %}" class="btn btn-outline-success form-control">Anadir nuevo Cliente</a>
    <h1>Listado de Clientes</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre del cliente</th>
                <th>Teléfono del cliente</th>
                <th>Correo del cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Clientes in Clientes %}  
                <tr>
                    <td>{{ Clientes.nombre }}</td>
                    <td>{{ Clientes.telefono }}</td>
                    <td>{{ Clientes.correo }}</td>
                    <td>
                        <a href="{% url 'core:detailCliente' Clientes.id_cliente %}" class="btn btn-outline-info">Detalles</a>
                        <a href="{% url 'core:updateCliente' Clientes.id_cliente %}" class="btn btn-outline-warning">Actualizar</a>
                        <a href="{% url 'core:deleteCliente' Clientes.id_cliente %}" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
